.sky{
background-color: #73C5BE;
    width: 1200px;
    height: 900px;
    border: 1px solid black;
    position:relative;
}

.clouds{
    width: 600px;
    height: 500px;
    position: absolute;
    right: 5%;
}

.water{
    width: 1200px;
    height: 200px;
    position: relative;
    top: 89%;
}

.world{
    width: 1200px;
    height: 600px;
    position: absolute;
    bottom: 15%;
}

.ship{
    width: 240px;
    height: 200px;
    position: absolute;
    bottom:13%;
    left: 5%;
}
